@font-face {
    font-family: dafoe;
    src: url("/fonts/dafoe.ttf");
}

@font-face {
    font-family: advent;
    src: url("/fonts/advent.ttf");
}

@font-face {
    font-family: metro;
    src: url("/fonts/metro.ttf");
}

@font-face {
    font-family: kelly;
    src: url("/fonts/kelly.ttf");
}

@font-face {
    font-family: apro;
    src: url("/fonts/apro.ttf");
}

P {
    font-family: metro;
}

span.error {
    font-family: apro;
    background-color: var(--color-items);
    border-radius: 12px;
    padding: 12px;
}